precision = float
command = convert
convert = [
    action = convertdbn
    dbnModelPath = # full path to the input network
    modelPath    = # full path to the output network
    layerSizes   = 792:2048*7:3168  # does not matter 
    trainingCriterion=CrossEntropyWithSoftmax 
    evalCriterion=ErrorPrediction 
    layerTypes=Sigmoid 
    initValueScale=1.0 
    applyMeanVarNorm=true 
    uniformInit=true 
    needPrior=true 
]
