command=WriteLLR
precision=float
WriteLLR=[ 
		action=write
		modelPath= # full path to the input network
		deviceID=-1
		traceLevel=-1
		outputNodeNames=ScaledLogLikelihood
		reader=[
			readerType=HTKMLFReader
			features=[
				dim=80
				scpFile= # full path
				]
			]
		writer=[
			writerType=HTKMLFWriter
			ScaledLogLikelihood=[
				dim=5980
				scpFile= # full path 
				]
		]
]
