#stderr=train\log
command=plot
precision=float

#######################################
#  TRAINING CONFIG (NDL, Fixed LR) #
#######################################
plot=[
    action=plot
    modelPath = # full path
    outputdotFile= # full path
    outputfile= # image full path
    RenderCmd="pathto\dot.exe -Tjpg <IN> -o<OUT>"

]


